:root {
    --branco: #FFF;
    --preto: #000;
    --cinza-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-medio: #D9D9D9;
    --verde-dw: #42ab1c;
    --plano-branco: #FFF;
        
    --fonte-link: #0084FF;
    --fonte-cinza: #667;
    --fonte-preta: #000000;
    --bg-rodape: #000000;
    --bg-chamada-mobile: #000000;
    --bg-nav: #000000;
    --bg-branco: #FFF;
    
    --shadow-section1: rgba(41, 41, 41, 0.247);
    --shadow-section2: rgba(48, 48, 48, 0.212);


    --montserrat: 'Montserrat', sans-serif;
}

body.dark {
  --bg-branco: #000000;
  --cinza-claro: #131313;
  --cinza-escuro: #a5a5a5;
  --bg-black-50: #393939;
  --fonte-preta: #ffffff;
  --bg-rodape: #131313;
  --plano-branco: #000000;
  --shadow-section1: rgba(39, 39, 39, 0.308);
  --shadow-section2: rgba(0, 0, 0, 0.336);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;       
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    padding-right: 6%;
    padding-left: 6%;
}

.botao {
    text-align: center;

    display: block;

    width: 100%;
    max-width: 350px;

    box-sizing: border-box;

    padding: 1rem 2rem;

    border: 3px solid var(--branco);
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

}