a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo img {
  width: 100%;
  margin-top: 40px;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; */
  background: var(--bg-nav);
  height: 100px;
  gap: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 22px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 50px;
}

/* .mobile-menu {
    display: none;
    cursor: pointer;
  } */

/* .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  } */

.cliente {
  margin-right: 100px
}

.btn {
  display: inline-block;
  color: #ffffff;
  padding: 32px;
  position: relative;
  letter-spacing: 1px;
}

.btn__circle,
.btn__text,
.btn__white-circle {
  position: absolute;
}

.btn__circle {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 0 1px 2px var(--verde-dw);
  transition: 0.3s linear;
}

.btn__white-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: var(--verde-dw);
  display: flex;
  transition: 0.3s ease-in-out;
}

.btn__white-circle svg {
  width: 24px;
  height: 24px;
  margin: auto;
}

.btn__text {
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 2;
  padding: 24px 8px;
  transition: 0.3s linear;
  margin-left: 10px;
}

.btn:hover .btn__circle {
  transform: scale(0);
}

.btn:hover .btn__white-circle {
  transform: translate(-50%, -50%) scale(1);
}

.btn:hover .btn__text {
  transform: translate(20px, -50%);
}



@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  /* .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    } */
  .nav-list li {
    display: none;
  }

  /* .mobile-menu {
      display: block;
    } */
  .btn__text {
    display: none;
  }

  .btn {
    top: 15px;
    left: 120%;
  }
}

/* .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
   */