nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.507);
    height: 100px;
    background: #000000;
    transition: 0.3s;
}

.links {
    display: flex;
    gap: 16px;
}


nav img {
    margin-bottom: -40px;
    transform-origin: 0% 50%;
    transition: 0.3s;
    filter: drop-shadow(0 10px 50px rgba(0, 0, 0, 0.507));
}

.container {
    margin: 0 10%;
    width: 80%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

nav .cliente {
    color: rgb(0, 0, 0);
    background-color: green;
    border-radius: 10%;
    cursor: pointer;
    border: none;
}