@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

.banner img{
    margin-top: 100px;
    width: 100%;
}

#back-to-top {
	place-self: end;
	position: sticky;
	margin-top: calc(100vh + 200px);
	bottom: 50px;
    
}

#back-to-top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	text-decoration: none;
	background-color: hsl(0, 0%, 5%);
	box-shadow: 0 0.6em 1em 0.2em hsla(0, 0%, 0%, 0.4);
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color;
    font-size: 20px;
}

#back-to-top:hover {
	transform: translateY(-22%);
	background-color: hsl(0, 0%, 0%);
}

#back-to-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 200%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
}