@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
    --branco: #FFF;
    --preto: #000;
    --cinza-claro: #DFE3E5;
    --cinza-escuro: #4F4C4C;
    --cinza-medio: #D9D9D9;
    --verde-dw: #42ab1c;
    --plano-branco: #FFF;
        
    --fonte-link: #0084FF;
    --fonte-cinza: #667;
    --fonte-preta: #000000;
    --bg-rodape: #000000;
    --bg-chamada-mobile: #000000;
    --bg-nav: #000000;
    --bg-branco: #FFF;
    
    --shadow-section1: rgba(41, 41, 41, 0.247);
    --shadow-section2: rgba(48, 48, 48, 0.212);


    --montserrat: 'Montserrat', sans-serif;
}

body.dark {
  --bg-branco: #000000;
  --cinza-claro: #131313;
  --cinza-escuro: #a5a5a5;
  --bg-black-50: #393939;
  --fonte-preta: #ffffff;
  --bg-rodape: #131313;
  --plano-branco: #000000;
  --shadow-section1: rgba(39, 39, 39, 0.308);
  --shadow-section2: rgba(0, 0, 0, 0.336);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none; 
    list-style: none;      
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--branco);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: var(--verde-dw);
  }
  

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.botao {
    text-align: center;

    display: block;

    width: 100%;
    max-width: 350px;

    box-sizing: border-box;

    padding: 1rem 2rem;

    border: 3px solid var(--branco);
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

}

/* ----- NAVBAR ----- */

nav a {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
  }
  
  .logo img {
    width: 120%;
    margin-top: 40px;
    margin-left: -80px;
  }
  
  
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-nav);
    height: 100px;
    gap: 20px;
  
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    font-size: 22px;
  }
  
  .nav-list li {
    letter-spacing: 1px;
    margin-right: 50px;
    transition: 300ms;
  }
  
  .nav-list li:hover {
    scale: .98;
    transition: 300ms;
  }
  
  /* .mobile-menu {
      display: none;
      cursor: pointer;
    } */
  
  /* .mobile-menu div {
      width: 32px;
      height: 2px;
      background: #fff;
      margin: 8px;
      transition: 0.3s;
    } */
  
  .cliente {
    margin-right: 100px
  }
  
  .btn {
    display: inline-block;
    color: var(--branco);
    padding: 32px;
    position: relative;
    letter-spacing: 1px;
  }
  
  .btn__circle,
  .btn__text,
  .btn__white-circle {
    position: absolute;
  }
  
  .btn__circle {
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    box-shadow: 0 0 1px 2px var(--verde-dw);
    transition: 0.3s linear;
  }
  
  .btn__white-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: var(--verde-dw);
    display: flex;
    transition: 0.3s ease-in-out;
  }
  
  .btn__white-circle svg {
    width: 24px;
    height: 24px;
    margin: auto;
  }
  
  .btn__text {
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 2;
    padding: 24px 8px;
    transition: 0.3s linear;
    margin-left: 40px;
  
    font-family: "Montserrat", sans-serif;
  }
  
  .btn:hover .btn__circle {
    transform: scale(0);
  }
  
  .btn:hover .btn__white-circle {
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* .btn:hover .btn__text {
    /* transform: translate(10px, -50%);
  } */
  
  @media (max-width: 1700px) {
    .btn__text {
      display: none;
    }
    .logo img {
      width: 100%;
      margin-top: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 1300px) {
    body {
      overflow-x: hidden;
    }
  
    /* .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      } */
    .nav-list li {
      display: none;
    }
  
    /* .mobile-menu {
        display: block;
      } */
    .btn__text {
      display: none;
    }
  
    .btn {
      top: 15px;
      left: 120%;
    }
  }
  
  /* .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
     */


     /* ----- CHAMADA ----- */

     .chamada  {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        color: var(--branco);
        text-align: center;
        
        background-color: var(--bg-chamada-mobile);
    
        padding-top: 12.25rem;
        padding-bottom: 2.5rem;
        transition: transform .45s ease, background .45s ease;
    }
    
    .chamada__titulo {
        font-family: var(--montserrat);
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    
        margin-bottom: 1.5rem;
    }
    
    .chamada__texto {
        font-size: 1.25rem;
        line-height: normal;
    
        margin: 0 auto 2.5rem;
    }
    
    .chamada__botao {
        width: 100%;
    }
    
    @media screen and (min-width: 768px) {
        .chamada__texto {
            max-width: 600px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .chamada {
            background-size: cover;
    
            padding-top: 8.25rem;
        }
    
        .chamada__titulo {
            font-size: 3.25rem;
            margin-bottom: 2rem;
        }
    }

    
/* ----- DESTAQUES ----- */

.destaques {
    background-color: var(--cinza-claro);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
    box-shadow: 0px 1px 50px 10px var(--shadow-section1);
    transition: transform .45s ease, background .45s ease;
}

.destaques__painel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.destaques__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 3rem;
}



.destaques__painel-imagem {
    width: 100vw;
    max-width: 400px;
    border-radius: 1.5%;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: 2.5rem;
}

.destaques__painel-texto {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
    margin-bottom: 3rem;
    color: var(--fonte-preta);
}

.destaques__botao {
    color: var(--verde-dw);

    border-color: var(--verde-dw);

    margin: 0 auto;
}

@media (max-width: 1300px) {
    .link3 {
        display: none;
    }

    .destaques__painel {
        margin-left: 90px;
    }
}

@media (max-width: 800px) {
    .link1, .link3 {
        display: none;
    }

    .destaques__painel {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .destaques {
        height: 96vh;
    }
}

.destaques__link {
    transition: 300ms;
}

.destaques__link:hover {
    scale: .95;
}

/* ----- SOBRE ----- */

.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--bg-branco);

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 50px 10px var(--shadow-section2);
    transition: transform .45s ease, background .45s ease;
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 2.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.sobre__texto {
    line-height: normal;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.sobre__conteudo p{
    color: var(--fonte-cinza);
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
    margin-bottom: 3rem;
}

.sobre__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.sobre__imagem {
    width: 100vw;
    max-width: 100px;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
    .sobre {
        display: flex;
    }

    .sobre__conteudo {
        margin-right: 3rem;
    }

    .sobre__titulo {
        text-align: left;
    }

    .sobre__texto--divisao {
        border-bottom: 1px solid var(--cinza-medio);

        padding-bottom: 1.5rem;
    }

    .sobre__imagem {
        display: block;
    }
}

/* ----- DIFERENCIAIS ----- */

.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    transition: transform .45s ease, background .45s ease;
}

.diferenciais__lista {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.diferenciais__item {
    width: 350px;

    box-sizing: border-box;



    padding: 2rem 2rem 2rem 2rem;
}

.diferenciais svg {
    margin-right: 5px;
}

.item__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.item__texto {
    line-height: normal;
    font-size: 1rem;
    color: var(--fonte-cinza);
}

@media screen and (min-width: 1024px) {
    .diferenciais {
        background-color: var(--cinza-claro);
    }

    .diferenciais__lista {
        justify-content: space-around;
    }
}

@media (max-width: 1200px) {
    .diferenciais__lista {
        flex-wrap: wrap;
    }
}

/* ----- PLANOS ----- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

.planos {
  background: var(--cinza-claro);

  padding-top: 3rem;
  padding-bottom: 3rem;

  box-sizing: border-box;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* border: .75em solid white; */
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 1px 50px 10px var(--shadow-section1);
  transition: transform .45s ease, background .45s ease;
}



.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.data-card {
  display: flex;
  flex-direction: column;
  width: 15.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: var(--plano-branco);
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 2px 10px 5px #0000002f;
  transition: transform .45s ease, background .45s ease;
}

.data-card h3 {
  color: var(--fonte-preta);
  font-size: 3em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid var(--verde-dw);
  transition: color .45s ease, border .45s ease;
}

.data-card h4 {
  color: var(--fonte-preta);
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color .45s ease;
}

.data-card p {
  opacity: 0;
  color: var(--fonte-preta);
  font-weight: 600;
  line-height: 1.8;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
}

.data-card .link-text {
  display: block;
  color: var(--fonte-preta);
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color .45s ease;
}

.data-card .link-text svg {
  margin-left: .5em;
  transition: transform .6s ease;
}

.data-card .link-text svg path {
  transition: fill .45s ease;
  
}

.data-card:hover {
  background: var(--verde-dw);
  transform: scale(1.02);
  box-shadow: 0 2px 10px 5px #00000052;
}

.data-card:hover h3 {
  color: var(--fonte-preta);
  border-bottom-color: var(--preto);
}

.data-card:hover h4 {
  color: var(--fonte-preta);
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: var(--fonte-preta);
}

.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: var(--fonte-preta);
}

@keyframes point {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(.2em);
  }
}


/* ----- CONTATO ----- */

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background: var(--bg-branco);
    transition: color .45s ease;
    box-shadow: 0px 1px 50px 10px var(--shadow-section2);
    transition: transform .45s ease, background .45s ease;
}

.contato p{
    color: var(--cinza-escuro);
}
.contato__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contato__botao {
    color: var(--cinza-escuro);

    border-color: var(--cinza-escuro);

    margin-top: 1rem;
}

/* ----- INSTITUCIONAL ----- */

.institucional {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fonte-cinza);
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background: var(--bg-branco);
    transition: transform .45s ease, background .45s ease;
}

.institucional__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.institucional__descricao {
    margin-bottom: 2rem;
}

.institucional__endereco {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.institucional__contato {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institucional__contato-telefone {
    line-height: normal;
}

.institucional__contato-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.institucional__ {
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .institucional__contato-email {
        display: inline-block;
    }

    .institucional__ {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .institucional__conteudo {
        width: 100%;

        display: flex;
        justify-content: space-between;
        
        text-align: left;
    }

    .institucional__ {
        align-self: flex-end;
        
        width: 375px;
    }

    .institucional__contato-email {
        display: block;
    }
}


/* ----- FOOTER ----- */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-rodape);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
    box-shadow: 0px 1px 80px 10px var(--shadow-section1);
    transition: transform .45s ease, background .45s ease;
}

.rodape a {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
}

.rodape__social {
    display: flex;
}

.rodape li {
    list-style: none;
}

.rodape__midia {

    width: 24px;
    height: 24px;

    margin: 2rem 1rem;
}

.rodape__navegacao {
    color: var(--branco);
    text-align: center;
    line-height: 3;
}

.rodape__logo {
    width: 80px;
    padding-right: 40px;
    margin-bottom: 20px;

}

.copy {
    color: var(--branco);
    font-size: 15px;
}

.rodape__link {
    display: inline-block;

    margin: 0 .5rem .7rem;
    font-size: 20px;
}

@media screen and (min-width: 1024px) {
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rodape__navegacao {
        text-align: left;

        min-width: 600px;
    }

}

@media (max-width: 800px) {
    .rodape__link {
        font-size: 15px;
    }

    .copy {
        font-size: 10px;
    }

    .rodape__logo {
        margin-left: 50px;
    }
}