.style-switcher {
  position: relative;
  bottom: 160px;
  left: -230px;
  background: var(--preto);
  z-index: 1;
  transition: all 0.3s ease;
}


.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--branco);
  right: 100%;
  border: 1px solid var(--branco);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

@media screen and (max-width: 1024px) {
  .style-switcher {
    bottom: 30px;
    margin-left: 90px;
  }
}

@media (max-width: 500px) {
  .style-switcher {
    left: 200px;
    bottom: 290px;
  }
  .style-switcher .s-icon {
    border: none;    
  }
}

