.style-switcher {
  position: fixed;
  right: 1%;
  top: 20px;  
  background: var(--bg-black-100);
  z-index: 101;
  transition: all 0.3s ease;
  transform: translateX(100%);
}


.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--skin-color);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 20%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 0px;
}




