.style-switcher {
  position: fixed;
  right: 1%;
  bottom: 100px;
  background: var(--preto);
  z-index: 101;
  transition: all 0.3s ease;
  transform: translateX(100%);
}


.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var();
  color: var(--cinza-escuro);
  right: 100%;
  /* border: 1px solid var(--cinza-escuro); */
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 0px;
}



@media screen and (max-width: 1024px) {}

@media (max-width: 500px) {
  .style-switcher {
    bottom: 50px;
    margin-right: -25px;
  }
}