.apps-premium-container {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.apps-premium-container img {
    width: 32px;
    border-radius: 10px;
}