.promo-container {
  /* height: 40vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-section);
  overflow: hidden;
  user-select: none;
}
.promo-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}


.promo-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iYm9yZGVyIHNoYWRvdy1tZCIgdmlld0JveD0iMCAwIDEzNTEuNjggNjc1Ljg0IiBzdHlsZT0id2lkdGg6IDEzNTEuNjhweDsgaGVpZ2h0OiA2NzUuODRweDsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHJlY3QgY2xhc3M9ImJnIiBpZD0iYmciIHg9IjAiIHk9IjAiIHdpZHRoPSIxMzUxLjY4IiBoZWlnaHQ9IjY3NS44NCIgZmlsbD0iI2M3YzdjNyI+PC9yZWN0PjxjaXJjbGUgY3g9IjIwMjcuNTIiIGN5PSIzMzcuOTIiIHI9IjEzNTEuNjgiIGZpbGw9IiMxNzE3MTciIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxMCI+PC9jaXJjbGU+PC9zdmc+');
  background-size: cover;
  box-shadow: var(--box-shadow-card);
  width: 90vw;
  height: 550px;
  border-radius: 10px;
}


.promo-img {
  width: 30%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.promo-text {
  width: 30rem;
}

.promo-title {
 color: white;
}

.promo-desc {
  color: white;
  font-weight: 500;
}

.promo-button {
  color: white;
  border: 1px solid white;
}

.promo-button:hover {
  box-shadow: 0.25rem 0.25rem white;
}

@media screen and (max-width: 1366px) {
  .promo-img{
    display: none;
  }
  .promo-right {
    text-align: center;
  }
  .promo-text{
    width: 25rem;
  }
}

@media screen and (max-width: 480px) {
  .promo-text{
    width: 80vw;
  }
  .promo-desc{
    font-size: 16px;
  }
}
