.promo-container {
  /* height: 40vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-section);
  overflow: hidden;
  user-select: none;
}
.promo-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}


.promo-content {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  background-image: url('/img/split_background.svg');
  background-size: cover;
  box-shadow: var(--box-shadow-card);
  width: 90vw;
  height: 550px;
  border-radius: 10px;
}


.promo-img {
  width: 30%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.promo-text {
  width: 30rem;
}

.promo-title {
 color: white;
}

.promo-desc {
  color: white;
  font-weight: 500;
}

.promo-button {
  color: white;
  border: 1px solid white;
}

.promo-button:hover {
  box-shadow: 0.25rem 0.25rem white;
}

@media screen and (max-width: 1366px) {
  .promo-content {
    background: var(--background-img-1);
  }  
  .promo-img{
    display: none;
  }
  .promo-right {
    align-items: center;
    text-align: center;
  }
  .promo-text{
    width: 25rem;
  }
}

@media screen and (max-width: 480px) {
  .promo-text{
    width: 80vw;
  }
  .promo-desc{
    font-size: 16px;
  }
}
