.promo-container {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background: rgb(38, 95, 43);
    background: linear-gradient(
      102deg,
      rgb(29, 73, 33) 10%,
      rgb(19, 49, 21) 80%
    );
  width: 170vh;
  height: 30vw;
  border-radius: 10px;
}

.promo-img {
    
}

.promo-text {
    width: 50vh;
}

.promo-title {
  color: white;
}

.promo-desc {
  color: white;
}
