/* ----- DESTAQUES ----- */

.destaques {
  background-color: var(--bg-section-1);
  height: 100vh;

  padding-top: 8rem;
  padding-bottom: 1rem;
  /* box-shadow: 0px 1px 50px 10px var(--shadow-section1); */
  user-select: none;
  overflow: hidden;
}

.destaques-painel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image-container {
  width: 90vw;
}

.destaques-link {
  transition: 300ms;
  max-width: 400px;
}
.destaques-link:hover {
  scale: 0.95;
}

.destaques-painel-imagem  {
  max-width: 400px;
  border-radius: 1.5%;
  transition: all 300ms ease;
  box-shadow: 0 2px 10px 5px #00000020;
}

@media (max-width: 1300px) {
  .destaques-painel {
  }
}

@media screen and (max-width: 480px) {
  .destaques-painel-imagem {
    max-width: 300px;
  }
}
