/* ----- DESTAQUES ----- */

.destaques {
  background-color: var(--bg-section);
  height: 100vh;

  padding-top: 2rem;
  padding-bottom: 1rem;
  /* box-shadow: 0px 1px 50px 10px var(--shadow-section1); */
  user-select: none;
  overflow: hidden;
  transition: transform 0.45s ease, background 0.45s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-image-container {
  width: 90vw;
}

.destaques-link {
  transition: 300ms;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.destaques-link:hover {
  scale: 0.95;
}

.destaques-painel-imagem  {
  border-radius: 10px;
  width: 400px;
  
}

@media screen and (max-width: 480px) {
  .destaques-link {
  }
  .destaques-painel-imagem {
    max-width: 350px;
  }
}
