/* WhatsAppForm.css */

.WhatsAppForm {
  width: 900px;
  height: 500px;
  background-color: var(--bg-card);
  border-radius: 10px;
  box-shadow: var(--box-shadow-card);
}

/* form starting stylings ------------------------------- */
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}


.group {
  position: relative;
  margin-bottom: 45px;
}
.group input {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 285px;
  border: none;
  border-bottom: 1px solid #757575;
  color: var(--fonte-preta);
}
.group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.group label {
  color: var(--fonte-cinza);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus ~ label,
.group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--verde-dw);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--verde-dw);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}


/* .WhatsAppForm button {
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-top: 60px;
  box-shadow: var(--box-shadow-contact);
} */

.btn-icon {
  margin: 0 5px -5px 0;
}

/* .WhatsAppForm button:hover {
  background-color: var(--verde-dw);
  color: #000000;
} */

@media screen and (max-width:480px) {
  .WhatsAppForm {
    width: 330px;
  }
}