/* ----- DESTAQUES ----- */

.destaques {
    background-color: var(--cinza-claro);

    padding-top: 2.5rem;
    padding-bottom: 1rem;
    box-shadow: 0px 1px 50px 10px var(--shadow-section1);
    user-select: none;
    overflow: hidden;
}

.destaques__painel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.destaques__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 3rem;
}



.destaques__painel-imagem {
    width: 100vw;
    max-width: 400px;
    border-radius: 1.5%;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: 2.5rem;
}

.destaques__painel-texto {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
    margin-bottom: 3rem;
    color: var(--fonte-preta);
}

.destaques__botao {
    color: var(--verde-dw);

    border-color: var(--verde-dw);
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .link3 {
        display: none;
    }

    .destaques__painel {
        margin-left: 90px;
    }
}

@media (max-width: 800px) {
    .link1, .link3 {
        display: none;
    }

    .destaques__painel {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .destaques {
        height: 96vh;
    }
}

.destaques__link {
    transition: 300ms;
}

.destaques__link:hover {
    scale: .95;
}