.back-to-top-button,
.dark-mode-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: var(--fonte-preta);
  /* box-shadow: var(--box-shadow-card); */
  color: var(--fonte-branca);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 999;
  transition: all 300ms ease-in-out;
}

.hiddenbtn {
  bottom: -60px !important;
}

.back-to-top-button:hover,
.dark-mode-button:hover {
  scale: 0.8;
}

.dark-mode-button {
  bottom: 80px;
}

@media screen and (max-width: 1366px) {
  .back-to-top-button,
  .dark-mode-button {
    display: none;
  }
}
