.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--bg-card);
    box-shadow: var(--box-shadow-card);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    transition: all 300ms ease-in-out;
  }

  
  @media screen and (max-width: 1366px) {
    .back-to-top-button {
        display: none;
    }
  }