
.chamada {
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-image: url(../../../public/img/fundo-chamada.png);
  background-size: cover;
    background-position: center;
  gap: 200px;
  color: var(--fonte-branca);
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  user-select: none;
  /* box-shadow: inset  0px 5px 100px -5px var(--bg-section); */
}

.chamada-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 65px 0 65px;
}
.logo img {
  width: 300px;
  padding: 2rem 2rem;
}

.logo img:hover {
  opacity: 60%;
}

.background-chamada {
  width: 750px;
  margin: -80px -200px 0;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.chamada-titulo {
  font-family: var(--montserrat);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.chamada-texto {
  color: var(--fonte-branca);
  font-size: 1.25rem;
  line-height: normal;

  margin: 1rem auto 2.5rem;
}

@media screen and (max-width: 1366px) {
  .chamada {
    height: 50vh;
  }
}
@media screen and (max-width: 900px) {
  .chamada {
    background: var(--verde-dw);
  }
}

@media screen and (max-width: 480px) {
  .chamada-titulo {
    font-size: 1.5rem;
  }
}
