
.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 1px 50px 10px var(--shadow-section2); */
  transition: transform 0.45s ease, background 0.45s ease;
  user-select: none;
  overflow: hidden;
  padding: 5%;
}

.sobre-container {
}

.sobre-content {
   background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1351.68 675.84" preserveAspectRatio="none"><rect x="0" y="0" width="1351.68" height="675.84" fill="%23000000"></rect><g transform="rotate(0 675.84 337.92)"><path d="M -775.84 -37.58 S -617.00 -71.38 0.00 -37.58 106.84 -77.58 775.84 -37.58 1153.76 -71.38 1551.68 -37.58 1929.60 -71.38 2327.52 -37.58 h 110 V 875.84 H -775.84 Z" fill="%23212121"></path><path d="M -775.84 30.00 S -718.00 -3.79 0.00 30.00 377.92 -3.79 775.84 30.00 1153.76 -3.79 1551.68 30.00 1929.60 -19.00 2327.52 30.00 h 110 V 875.84 H -775.84 Z" fill="%231e1e1e"></path><path d="M -775.84 97.58 S -505.00 63.79 0.00 97.58 120.84 32.58 775.84 97.58 1153.76 30.58 1551.68 97.58 1578.52 63.79 2327.52 97.58 h 110 V 875.84 H -775.84 Z" fill="%231b1b1b"></path><path d="M -775.84 165.17 S -562.00 131.38 0.00 165.17 377.92 127.17 775.84 165.17 1153.76 131.38 1551.68 165.17 1929.60 131.38 2327.52 165.17 h 110 V 875.84 H -775.84 Z" fill="%23181818"></path><path d="M -775.84 232.75 S -397.92 198.96 0.00 232.75 377.92 198.96 775.84 232.75 1153.76 198.96 1551.68 232.75 1607.52 198.96 2327.52 232.75 h 110 V 875.84 H -775.84 Z" fill="%23151515"></path><path d="M -775.84 300.34 S -397.92 259.34 0.00 300.34 377.92 266.54 775.84 300.34 1153.76 261.34 1551.68 300.34 1929.60 242.34 2327.52 300.34 h 110 V 875.84 H -775.84 Z" fill="%23121212"></path><path d="M -775.84 367.92 S -397.92 334.13 0.00 367.92 377.92 321.92 775.84 367.92 1153.76 304.92 1551.68 367.92 1929.60 302.92 2327.52 367.92 h 110 V 875.84 H -775.84 Z" fill="%230f0f0f"></path><path d="M -775.84 435.50 S -397.92 401.71 0.00 435.50 237.84 401.71 775.84 435.50 880.68 401.71 1551.68 435.50 1929.60 391.50 2327.52 435.50 h 110 V 875.84 H -775.84 Z" fill="%230c0c0c"></path><path d="M -775.84 503.09 S -411.00 469.30 0.00 503.09 112.84 457.09 775.84 503.09 1153.76 469.30 1551.68 503.09 1929.60 440.09 2327.52 503.09 h 110 V 875.84 H -775.84 Z" fill="%23090909"></path><path d="M -775.84 570.67 S -660.00 536.88 0.00 570.67 34.84 508.67 775.84 570.67 1153.76 531.67 1551.68 570.67 1798.52 536.88 2327.52 570.67 h 110 V 875.84 H -775.84 Z" fill="%23060606"></path><path d="M -775.84 638.26 S -753.00 599.26 0.00 638.26 377.92 596.26 775.84 638.26 1153.76 604.46 1551.68 638.26 1929.60 604.46 2327.52 638.26 h 110 V 875.84 H -775.84 Z" fill="%23030303"></path></g></svg>') no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px;
   width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.sobre-content article {
  width: 700px;
}

.sobre-titulo {
  color: white;
}

.sobre-texto {
  color: white;
  font-size: 25px;
  text-align: start;
  padding: 10px;
  margin-bottom: 70px;
}

.sec-titulo {
  color: white;
}
.texto-sec {
  color: white;
}

.sobre-texto-sec {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.sobre-imagem {
  width: 100vw;
  max-width: 350px;
  border-radius: 10px;

  box-shadow: var(--box-shadow-card);

  margin-bottom: 0.5rem;
  margin-left: 200px;
}

@media screen and (max-width: 1366px) {
  .sobre {
    height: 100%;
  }

  .sobre-content {
    flex-direction: column;
    padding: 5rem 3rem;
  }
  .sobre-imagem {
    display: none;
  }
  .sobre-titulo,
  .sobre-texto,
  .sec-titulo,
  .texto-sec {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .sobre-content article {
    width: 100%;
  }

  .sobre-texto-sec {
    gap: 5px;
    margin: 5px;
  }

  .texto-sec {
    font-size: 16px;
  }

  .sobre-titulo {
    font-size: 25px;
  }

  .sobre-texto {
    font-size: 20px;
  }

  .sobre-imagem {
    width: 300px;
  }
}
