/* ----- SOBRE ----- */

.sobre {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: rgb(38, 95, 43);
  background: linear-gradient(
    102deg,
    rgb(29, 73, 33) 10%,
    rgb(19, 49, 21) 80%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 1px 50px 10px var(--shadow-section2); */
  transition: transform 0.45s ease, background 0.45s ease;
  user-select: none;
  overflow: hidden;
}

.sobre-conteudo {
  
  padding: 2rem 10rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.sobre-conteudo article {
  width: 700px;
}

.sobre-titulo {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: start;
  /* margin-left: -200px; */
  margin-bottom: 1.25rem;
}

.sobre-texto {
  font-size: 25px;
  text-align: start;
  padding: 10px;
  margin-bottom: 70px;
}

.sobre-texto-sec {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.sec-titulo {
  color: white;
  text-align: start;
  margin-bottom: 15px;
  font-size: 22px;
}

.texto-sec {
  font-size: 20px;
  text-align: start;
}
.sobre-conteudo p {
  color: white;
}

.sobre-imagem {
  width: 100vw;
  max-width: 400px;
  border-radius: 10px;

  box-shadow: var(--box-shadow-card);

  margin-bottom: 0.5rem;
  margin-left: 200px;
}

@media screen and (max-width: 1366px) {
  .sobre-conteudo {
    flex-direction: column;
  }
  .sobre-imagem {
    margin: 0;
  }
  .sobre-titulo,
  .sobre-texto,
  .sec-titulo,
  .texto-sec {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .sobre-conteudo article {
    width: 100%;
  }

  .sobre-texto-sec {
    gap: 5px;
    margin: 5px;
  }

  .texto-sec {
    font-size: 16px;
  }

  .sobre-titulo {
    font-size: 25px;
  }

  .sobre-texto {
    font-size: 20px;
  }

  
  .sobre-imagem {
    width: 300px;
  }
}
