@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --preto: #000000;
  --fonte-preta: #4f4c4c;
  --verde-dw: #313131;
  --bg-section: #dfe3e5;
  --bg-card: #1a1a1a;
  --bg-card-2: #f0f0f0;
  --fonte-branca: #ffffff;
  --fonte-cinza: #667;
  --fonte-preta: #000000;
  --bg-rodape: #000000;
  --bg-chamada-mobile: #265f2b;
  --bg-nav: #ffffff;
  --button-color: #ffffff;
  
  --shadow-section1: rgba(41, 41, 41, 0.247);
  --shadow-section2: rgba(48, 48, 48, 0.212);
  
  --invert: invert(100%);
  
  --montserrat: "Montserrat", sans-serif;
  --box-shadow-card: 0 2px 10px 5px #0000002f;
  --box-shadow-contact: 0 2px 10px 5px #0000002f;
  
  --background-img-1: #0a0a0a;
  --background-img-2: #dfe3e5;
}

[data-theme="dark"] {
  --verde-dw: #313131;
  --bg-section: #0a0a0a;
  --bg-nav: #000000;
  --bg-card: #f0f0f0;
  --bg-card-2: #1a1a1a;
  --bg-rodape: #000000;
  --button-color: #3d3d3d;
  --fonte-preta: #a5a5a5;
  --fonte-branca: #000000;
  --fonte-preta: #ebebeb;
  --plano-branco: #1a1a1a;
  --shadow-section1: rgba(39, 39, 39, 0.308);
  --shadow-section2: rgba(0, 0, 0, 0.336);
  
  --invert: invert(none);
  
  --box-shadow-card: 10px 10px 26px #11111180;
  --box-shadow-contact: 6px 6px 22px #00000077;

  --background-img-1: #dfe3e5;
  --background-img-2: #0a0a0a;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: transform 0.45s ease, background 0.45s ease;
}

body {
  font-family: "montserrat", sans-serif;
  background: var(--bg-section);
}
h2 {
  color: var(--fonte-preta);
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

h3 {
  color: var(--fonte-branca);
  margin-bottom: 15px;
  font-size: 22px;
  font-family: var(--montserrat);
}

p {
  font-size: 20px;
  color: var(--fonte-branca);
}

a {
  color: var(--fonte-preta);
  text-decoration: none;
  transition: 0.3s;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: var(--montserrat);
  color: var(--fonte-branca);
  cursor: pointer;
  border: 1px solid var(--bg-section);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
  padding: 1.2em 4em;
  font-size: 15px;
  background: transparent;
  transition: 0.2s;
}

.button:hover {
  /* color: var(--fonte-preta); */
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--fonte-branca);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}


::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #2c3e50; 
}

::-webkit-scrollbar-thumb {
  background: #95a5a6; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #7f8c8d; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #424242 rgb(37, 37, 37);
}

::-webkit-scrollbar-track-piece {
  background: #2c3e50; 
  border-left: 2px solid #2c3e50; 
  border-right: 2px solid #2c3e50; 
}

::-webkit-scrollbar-thumb:vertical {
  border-left: 2px solid #2c3e50; 
  border-right: 2px solid #2c3e50; 
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 2px solid #2c3e50; 
  border-bottom: 2px solid #2c3e50; 
}
