@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --preto: #000000;
  --fonte-titulo: #4f4c4c;
  --verde-dw: #42ab1c;

  --fonte-branca: #ffffff;
  --fonte-cinza: #667;
  --fonte-preta: #000000;
  --bg-rodape: #000000;
  --bg-chamada-mobile: #265f2b;
  --bg-card: linear-gradient(145deg, #f0f0f0, #d3d3d3);
  --bg-nav: #000000;
  --bg-section: #dfe3e5;
  --bg-banner: #159947;;

  --button-color: #ffffff;

  --shadow-section1: rgba(41, 41, 41, 0.247);
  --shadow-section2: rgba(48, 48, 48, 0.212);

  --invert: invert(none);

  --montserrat: "Montserrat", sans-serif;
  --box-shadow-card: 0 2px 10px 5px #0000002f;
  --box-shadow-contact: 0 2px 10px 5px #0000002f;
}

[data-theme="dark"] {
  --bg-section: #061a23;
  --bg-card: #1a1a1a;
  --bg-rodape: #000000;
  --button-color: #3d3d3d;
  --fonte-titulo: #a5a5a5;
  --fonte-branca: #000000;
  --fonte-preta: #ffffff;
  --plano-branco: #1a1a1a;
  --shadow-section1: rgba(39, 39, 39, 0.308);
  --shadow-section2: rgba(0, 0, 0, 0.336);
  --invert: invert(90%);

  --box-shadow-card: 10px 10px 26px #11111180;
  --box-shadow-contact: 6px 6px 22px #00000077;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: transform 0.45s ease, background 0.45s ease;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--fonte-preta);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--verde-dw);
}

.botao {
  text-align: center;

  display: block;

  width: 100%;
  max-width: 300px;

  box-sizing: border-box;

  padding: 1rem 2rem;

  border: 3px solid #ffffff;
  border-radius: 5px;
}
