.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-card);
  transition: all 300ms ease-in-out;
  align-items: center;
  height: 50px;
  z-index: 999;
}

.bottom-bar-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.option-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .client-button {
  background-color: var(--verde-dw);
  padding: 6px;
  border-radius: 10px;
} */

.bottom-bar .icon {
  width: 30px;
  height: 30px;
  padding-bottom: 0;
  color: var(--fonte-preta);
}

.option-label {
  color: var(--fonte-preta);
  font-size: 12px;
}
.bottom-bar-container a {
  padding: 2px;
}


.dropdown-content {
  position: absolute;
  bottom: 50px;
  right: -20px;
  transition: all 300ms ease-in-out;
  z-index: 998;
}

.dropdown-btn {
  background: var(--bg-card);
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  color: var(--fonte-preta);
}

.option-button span {
  display: none;
}



.dropdown-hidden {
  position: absolute;
  bottom: -80px;
  transition: all 300ms ease-in-out;
}

@media screen and (min-width: 1366px) {
  .bottom-bar {
    display: none;
  }
}
